@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

li, a , img {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
}

.cliente{
    position: relative;
    right: 110px;
}

.carrinho{
    position: relative;
    right: -430px;
    bottom: 2px;
}

.imagemBack {
  position: absolute;
  bottom: -10px;
  left:670px;
  align-items: center;
}

.logo {
    font-family:"Montserrat", sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.nav__links{
    position: absolute;
    list-style: none;
    right: 750px;
    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.TextoInicial {
    font-family: Montserrat;
    font-size: 25px;  
    margin-left: 260px;  
    margin-top: 100px;
}

.nome{
    position: absolute;
    font-family: Montserrat;
    font-size: 20px;
    left: 1570px;
    bottom: 100px;
    font-weight: bold;
    
}

.logo{
    font-size: 32px;
    font-family: Montserrat;
    width: bold;
    
}

#read_more{
    font-size: 18.5px;
    right: 300px;
}

#texto_botao{
    position: absolute;
    left: 375px;
    background-color: black;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
    border-radius: 250px;
    height: 50px;
    width: 250px;
    font-size: 1.5em;    
}

#butao_logo{
    padding: 0;
    border: none;
    background: none;
}

.comprar_agora_texto{
    color: white;
    background-color: black;
}

#Comprar_Agora_Texto{
    color: white;
    background-color: black;
}

#imagemContacto{
    position: relative;
    height: 250px;
}




.input-field{
    position: relative;
    right: -1000px;
    top: 0px;
    width: 400px;
    height: 40px;
    margin-top:20px;
    padding-left: 15px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    display: flex;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.buttonContactos{
    position: relative;
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: black;
    font-size: 12px;
    border: none;
    cursor: pointer;
    right: -1000px;
}

.textoContactos {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;  
    margin-left: 260px;  
    margin-top: 50px;
    width: 730px;

}

#imagemContacto{
    position: absolute;
    left: 250px;
    height: 400px;
    bottom: 125px;
}

#imagens_produtoslinha1{
    display: flex;
    position: absolute;
    left: 450px;
    height: 400px;
    
}

#imagens_produtoslinha2{
    position: absolute;
    display: flex;
    top:  500px;
    left: 450px;
    height: 400px;
}


.informacao-produtos{
    font-family: "Montserrat";
    font-size:16px;
    position: relative;
    left: 170px;
    top: 0px;
    
}

.sobreNos{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:23px;
    
}

.textoSobreNos{
    text-align: center;
    left: 550px;
    font-family: 'Montserrat', sans-serif;
    font-size:23px;
    bottom: 150px;
}

#sobreNosImagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.autenticacaoFormato{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.formElements{
    width: 100%;
    height: 40px;
    font-size: 16px;
    
    
}

#purposeDescription{
    text-align: center;
}

#produto1:hover {
    transform: scale(1.1);
  }



  
  .produtoDescrição {
    margin-top:10em;
    margin-left: 24.5em;
    
  }
  
  
  .produtoDescrição p {
    position: relative;
    text-align: left;
    margin-left: 400px;
    font-size: 1.5em;
    margin-bottom: -1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size:23px;
    bottom: 100px;
  }
  
  
  .produtoDescrição p.preco {
    margin-top: 2em;
    font-weight: bold;
  }
  
  
  .produtoDescrição input {
    position: relative;
    text-align: left;
    left: 400px;
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: bold;
    bottom: 100px;
  }
  
  .produtoDescrição input::placeholder {
    font-size: 0.9em;
  }
  
  .btnDisponivel {
    position: relative;

    margin-top: 1em;
    width: 10em;
    height: 4em;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0.4em;
    transition-duration: 0.4s;
    left: 490px;
    bottom: 100px;
  }
  

  
  .btnDisponivel:hover {
    background-color: #0088a9;
    
  }

#imagemProduto{
    position: relative;
    bottom: 60px;
    left: 260px;
}


 